<a href="https://colab.research.google.com/github/mayank-deeds/playing-with-pandas/blob/main/functions_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
 city_data = {
"City": ["New York City", "Paris", "Barcelona", "Rome"],
"Country": ["United States", "France", "Spain", "Italy"],
"Population": [8600000, 2141000, 5515000, 2873000]
}
cities = pd.DataFrame(city_data)
cities

            City        Country  Population
0  New York City  United States     8600000
1          Paris         France     2141000
2      Barcelona          Spain     5515000
3           Rome          Italy     2873000

In [4]:
def fun(temp):
    temp+=1
    
    return temp

In [7]:
# so this is the way to apply in place changes to the columns of a df without actually using the inplace thing 
cities.Population=cities.Population.apply(fun)

In [8]:
cities

            City        Country  Population
0  New York City  United States     8600001
1          Paris         France     2141001
2      Barcelona          Spain     5515001
3           Rome          Italy     2873001

In [9]:
# lets unite 2 columns
cities.append("P")

TypeError: ignored

In [ ]:
# I think columns can be added onlyto dataframes, not to the series

In [ ]:
# The two lines below are equivalent
cities.transpose()
cities.T

In [ ]:
# more ways of creating the df

In [12]:
import numpy as np

In [13]:
random_data = np.random.randint(1, 101, [3, 5])
random_data

array([[49, 43, 48, 48, 79],
       [28, 70,  8, 15, 78],
       [74, 84,  8, 19, 17]])

In [14]:
pd.DataFrame(data = random_data)

    0   1   2   3   4
0  49  43  48  48  79
1  28  70   8  15  78
2  74  84   8  19  17

In [18]:
row_labels = ["Morning", "Afternoon", "Evening"]

column_labels = (
"Monday",
"Tuesday",
"Wednesday",
"Thursday",
"Monday",
)

pd.DataFrame(
data = random_data,
index = row_labels,
columns = column_labels,
)

           Monday  Tuesday  Wednesday  Thursday  Monday
Morning        49       43         48        48      79
Afternoon      28       70          8        15      78
Evening        74       84          8        19      17